body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:linear-gradient(#bda9d8,#f9f9f9,#d794e3);
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 15px 30px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#yesButton {
    background-color: #4CAF50; /* Green */
    color: white;
}

#noButton {
    background-color: #f44336; /* Red */
    color: white;
}

button:hover {
    opacity: 0.8;
}